{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <h2 class="text-center text-dark">About Me</h2>

    <div class="row container">
        <div class="col-12">
            <p class="fs-4 text-center">My name is Yuyang Hsieh, and I am a Computer Engineering student. I completed my undergraduate studies at the University of Florida and am currently pursuing my Master's degree at the University of Texas at Dallas. I am passionate about exploring new challenges and constantly seeking opportunities to grow and improve. Whether it's through academic pursuits or personal projects, I strive to expand my knowledge and skills in various areas. I believe in the importance of lifelong learning and enjoy discovering new technologies and creative outlets.</p>
        </div>
    </div>

    <br></br>

    <h2 class="text-center text-dark">Mission</h2>
    <div class="row container">
        <div class="col-12">
            <p class="fs-4 text-center">Welcome to my Genshin Art website! Here, you'll find illustrations of characters from Genshin Impact and various other games, all reimagined in unique and different outfits. As a creator, I enjoy bringing these characters to life in new and exciting ways through my art. Whether you're a fan of the games or simply appreciate creative illustrations, I hope you enjoy exploring my work!</p>
        </div>
    </div>
</div>

<br></br>

{% endblock main-content %}
