{% extends "app/base.html" %}
{% load static %}
{% block title %}Set New Password{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Set New Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-dark">
                </div>
                
                <!-- Display non-field errors if there are any -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                         
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
