{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Changed{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <h2 class="text-center">Password Changed Successfully</h2>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center">
            <p>Your password has been successfully changed.</p>
            <div class="my-1">
                <!-- Tenor GIF Embed with fixed size -->
                <div class="tenor-gif-embed" data-postid="9146456002059790473" data-share-method="host"  data-width="300"><a href="https://tenor.com/view/furina-genshin-impact-furina-de-fontaine-gif-9146456002059790473">Furina Genshin Impact Sticker</a>from <a href="https://tenor.com/search/furina-stickers">Furina Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <style>
                    .tenor-gif-embed iframe {
                        height: 200px !important;
                        pointer-events: none;
                    }
                </style>

                <script>
                    // Remove title attribute from iframe to prevent hover tooltip
                    document.addEventListener("DOMContentLoaded", function() {
                        const tenorIframe = document.querySelector(".tenor-gif-embed iframe");
                        if (tenorIframe) {
                            tenorIframe.removeAttribute("title");
                        }
                    });
                </script>
                
            </div>
            <!-- Moved the button below the GIF -->
            <a href="{% url 'login' %}" class="btn btn-dark" style="margin-top: 0rem;">Go to Login</a>

        </div>
    </div>
</div>
{% endblock main-content %}



